@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 14px;
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  max-width: 610px;
  grid-template-columns: 50% 50%;
  color: var(--dark-grayish-blue);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.image_box {
  max-width: 315px;
  max-height: 465px;
}

.image_box img {
  max-width: inherit;
  max-height: inherit;
  border-radius: 10px 0 0 10px;
}

.image_box_mobile {
  display: none;
}

.content_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

h3 {
  letter-spacing: 5px;
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  color: var(--very-dark-blue);
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  line-height: 1.1;
  margin: 1rem 0;
}

p {
  line-height: 1.5;
}

.price_box {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin: 1em 0;
}

.price_box p {
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.price_box span {
  text-decoration: line-through;
}

button {
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 1em 2em;
  width: 100%;
  cursor: pointer;
}

button span {
  margin-right: 1em;
  vertical-align: middle;
}

button:hover,
button:active {
  background-color: var(--very-dark-blue);
}

footer {
  bottom: 0;
  font-size: 10px;
  color: var(--dark-grayish-blue);
  padding: 10px;
  text-align: center;
}

footer a {
  color: var(--dark-grayish-blue);
}

@media screen and (max-width: 600px) {
  body {
    box-sizing: content-box;
  }
  .card {
    flex-direction: column;
    box-shadow: none;
    max-width: 480px;
    margin: 2rem 1rem;
  }

  .image_box {
    display: none;
  }

  .image_box_mobile {
    display: block;
    width: 100%;
    max-width: 480px;
    height: auto;
  }

  .image_box_mobile img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
}
